@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.image-card {
  transition: all 200ms ease-in-out;
}
.image-card:hover {
  @apply rotate-1 opacity-90 motion-reduce:rotate-0 motion-reduce:opacity-100;
}
